<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="./assets/css/tiket.css" />
    <title>Halaman Tiket</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 pt-4 bg-light">
          <div
            class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-dark min-vh-100"
          >
            <img src="./assets/img/MGS-logo.png" width="170px" alt="LOGO" />
            <ul
              class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
              id="menu"
            >
              <li>
                <a
                  href="#submenu1"
                  data-bs-toggle="collapse"
                  class="nav-link px-0 pt-4 align-middle"
                >
                  <i class="bi bi-chevron-down"></i>
                  <span class="ms-1 d-none d-sm-inline">Tiket</span>
                </a>
                <ul
                  class="collapse show nav flex-column ms-1"
                  id="submenu1"
                  data-bs-parent="#menu"
                >
                  <li>
                    <a href="#" class="nav-link ps-5">
                      <span class="d-none d-sm-inline">Tiket Support</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
            <hr />
          </div>
        </div>
        <div class="col p-0">
          <div class="bg-dark d-flex justify-content-end">
            <div class="dropdown py-3 pe-3">
              <a
                href="#"
                class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                id="dropdownUser1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bi bi-person-fill"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="#">Change Password</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#">Log out</a></li>
              </ul>
            </div>
          </div>
          <!-- bar-atas end -->
          <div class="tiket-support-cc">
            <h4>Tiket Support CC</h4>
          </div>
          <div class="tombol-tambah">
            <a href="/tambahtiket">
              <button class="btn btn-primary">
                <i class="bi bi-plus-circle" style="margin-right: 0.4em"></i>Add
              </button>
            </a>
          </div>
          <div class="mx-5 mt-3">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">No. Laporan</th>
                  <th scope="col">Jenis</th>
                  <th scope="col">Sub Jenis</th>
                  <th scope="col">Petugas</th>
                  <th scope="col">Permasalahan</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <%data.forEach((tiket, index) => {%>
                <tr>
                  <td><%= index+1 %></td>
                  <td><%= tiket.no_lap %></td>
                  <td><%= tiket.type_ticket.nama %></td>
                  <td><%= tiket.sub_type_ticket.nama %></td>
                  <td><%= tiket.petugas.nama %></td>
                  <td><%= tiket.permasalahan %></td>
                  <td><%= tiket.status.nama %></td>
                </tr>
                <%}) %>
              </tbody>
            </table>
          </div>
          <!-- content end -->
        </div>
      </div>
    </div>
    <!-- Bootstrap JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
